.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/assets/images/Team_53.jpg") center/cover no-repeat;
  color: #fff;
  text-align: center;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.btn-primary {
  background: #0077ff;
  color: #fff;
  padding: 1rem 2rem;
  text-decoration: none;
  border-radius: 8px;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background: #005bb5;
}